@import "../styles/theme.css";

.topbar {
  background: white;
  padding: 14px 24px;
  border-bottom: 1px solid var(--cbx-gray-300);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--cbx-shadow);
}

.topbar-title {
  font-size: 18px;
  font-weight: 600;
}

